<p id="notice"><%= notice %></p>


<p>
  <strong>Latlong:</strong>
  <%= @location.latlong %>
</p>

<p>
  <strong>Pos name:</strong>
  <%= @location.pos_name %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
